footer{
    border-top: 2px solid rgb(2, 84, 90);
    width: 100%;
    display: flex;
    background: black;
    flex-direction: column-reverse;
}

.contenedor-footer{
    display: flex;
    justify-content:space-around;  
    max-width: 100%;
    min-height: 120px;
    max-height: 150px;

    
}

.p-footer{
    align-items: center;
    margin-top: 3px;
    margin-left: 5px;
    display: flex;
    color:aliceblue;   
    flex-direction: column;
    padding: 5px;
    border-radius:5% 6% ;
    justify-content: center;

}
.p-footer h4{
    display: flex;
    margin-bottom: 1px;
    font-size: 0.8rem;
} 
.p-footer p, .a-footer{
    display: flex;
    font-size: 0.6rem;
    color: aliceblue;
}
footer img{
    width: 23%;

}

footer .redes{
    justify-content: space-between;
    width: 20%;
    display: flex;
    text-decoration: none;
    text-transform: none;
    align-items: center;
       
}
.redes a{
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    
}

.redes i{
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
    text-transform: none;
}
.copy{
    display: flex;
    background: rgb(37, 85, 100);
    justify-content: space-around;
}
.fondo-p{
    border: 1px solid rgb(91, 37, 100);
    padding: 2px;
}

.copy-p{
    font-size: 0.7rem;
    color:aliceblue;
}

@media screen and (min-width: 700px){

.contenedor-footer{
   max-height: 150px;
    
}
footer .redes {
    justify-content: center;
    width: 5px;
}
footer img{
    width: 16%;
}
.p-footer h4{
    font-size: 1.1rem;
}
.p-footer p, .a-footer{
    font-size: 0.9rem;
}
}
    