footer{
    border-top: 2px solid rgb(243, 86, 206);
    width: 100%;
    display: flex;
    background: black;
    flex-direction: column-reverse;
}

.contenedor-footer{
    display: flex;
    justify-content:space-between;  
    width: 100%;
    
}

.p-footer{
    align-items: center;
    margin-top: 3px;
    margin-left: 5px;
    display: flex;
    color:aliceblue;   
    flex-direction: column;
    padding: 5px;
    border-radius:5% 6% ;

}
.p-footer h4{
    display: flex;
    margin-bottom: 1px;
} 
.p-footer p, .a-footer{
    display: flex;
    font-size: 0.6rem;
    color: aliceblue;
}
footer img{
    width: 25%;

}

footer .redes{
    justify-content: space-between;
    width: 20%;
    display: flex;
    text-decoration: none;
    text-transform: none;
    align-items: center;
       
}
.redes a{
    display: flex;
    justify-content: center;
    width: 5vw;
    text-decoration: none;
    border-radius: 55% 35%;
    background-color: rgb(91, 37, 100);
}

.redes i{
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
    text-transform: none;
}
.copy{
    display: flex;
    background: rgb(91, 37, 100);
    justify-content: space-between;
}
.fondo-p{
    border: 1px solid rgb(91, 37, 100);;
}

.copy-p{
    font-size: 0.7rem;
    color:aliceblue;
}
