#btn-menu{
    display: none;
}
.btn-menu{
    position: absolute;
    font-size: 1.9rem;
    left: 10px;
    top:10px;
    margin-top: 6px;
    color:#f9f9f9;
   
    
}
.btn-menu:hover{
    color:#FFF;
    
}


#btn-menu:checked ~ .cont-menu{
    opacity: 1;
    visibility: visible;
}
/*Para el contenedor del buruger menu*/
.cont-menu{
    width: 50%;
    background: rgb(8, 8, 12);
    background: linear-gradient(0deg, rgb(79, 4, 74) 0%, rgb(4, 29, 1) 53%, rgb(17, 3, 39) 125%, rgba(239,0,255,1) 93%);
    opacity: 1;
    height: 480px;
    transition: all 700ms ease;
    z-index: 1;
    position: absolute;
    bottom: 0%;
    top: 0px;
    padding: 3px;
    opacity: 0;
    visibility: hidden;
    left: 0;
    border-right: 1px solid rgba(107, 47, 118, 0.612);
    
}


/*Para las fuentes*/
.cont-menu nav a{
    display: block;
    text-decoration: none;
    margin-top: 14px;
    padding: 5px; 
    color: #e7dddd;
	transition: all 700ms ease;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top:10px;
    
	color: rgb(169, 8, 174);
    cursor: pointer;
    font-size: 2rem;
    background: transparent;
    text-decoration: none;
    
}
/*Fin de Burger-btn*/


header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(181, 70, 150);
    background: rgb(0, 0, 0);
}
.contenedor-img{
    width: 40%;
    height: 120px;
}
header img{
    width: 130px;
    margin-left: 180px;
    
}
.nav-login i{
    color: white;
}

