#btn-menu{
    display: none;
}
.btn-menu{
    position: absolute;
    font-size: 1.9rem;
    left: 1.2rem;
    top: 0.6rem;
    margin-top: 0.3rem;
    color:#f9f9f9;
   
    
}
.btn-menu:hover{
    color:#FFF;
    
}


#btn-menu:checked ~ .cont-menu{
    opacity: 1;
    visibility: visible;
}
/*Para el contenedor del buruger menu*/
.cont-menu{
    width: 50%;
    background: rgb(8, 8, 12);
    background: linear-gradient(0deg, rgb(79, 4, 74) 0%, rgb(4, 29, 1) 53%, rgb(17, 3, 39) 125%, rgba(239,0,255,1) 93%);
    opacity: 1;
    height: 480px;
    transition: all 700ms ease;
    z-index: 1;
    position: absolute;
    bottom: 0%;
    top: 0px;
    padding: 3px;
    opacity: 0;
    visibility: hidden;
    left: 0;
    border-right: 1px solid rgba(107, 47, 118, 0.612);
    
}


/*Para las fuentes*/
.cont-menu nav a{
    display: block;
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.5rem; 
    color: #e7dddd;
	transition: all 700ms ease;
}

.cont-menu label{
    position: absolute;
    right: 0.3rem;
    top:0.8rem;
	color: rgb(169, 8, 174);
    cursor: pointer;
    font-size: 2rem;
    background: transparent;
    text-decoration: none;
    
}
/*Fin de Burger-btn*/


header{
    height: 100px;
    background: black;
    box-shadow: 11px 10px 26px 14px;
}
 #sec-tp{
    display: none;
}
nav figure{
    width: 30%;
}
nav #fig-img-tp img{
    position: relative;
    bottom: 0.3rem;
    left: 70%;
    width: 100px;
    height: 100px;
    
}
@media screen and (min-width: 700px) {
    header{

        height: 150px;
        background: rgba(0, 0, 0, 0.901);
        box-shadow: 11px 10px 26px 14px;
    }
    header nav{
        display: flex;
        
    }
   #sec-tp{
        
        display: flex;
        width: 75%;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        
          
        
    }
    section #a-sec-tp{
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18%;
        height: 35px;
        border: 1px solid #000;
        color: white;
        border-color: rgb(1, 2, 86);       
        border-radius: 2px;
    
  
        
    }

    section #a-sec-tp:hover{
        background-color: rgb(14, 0, 144);
    }
     nav #fig-img-tp{
        display: flex;
        

    }
     #fig-img-tp img{
        background-color: rgba(10, 7, 1, 0.371);
        top: 8px;
        display: flex;
        align-items: center;
    }
   

}
