*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
}

/*main*/

main .banner-home{
    display: flex;
    justify-content: center;   
    
}
.banner-home .img-home{
    width: 90%;
    height: 167px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px;
    border-radius:2px ;

}

/**TENDENCIAS  SECCION 1**/
.tendencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
    border-radius: 7px;
    box-shadow: 20px 10px 50px rgb(121, 121, 121);
}

.tendencias h2{
    font-size: 1.2rem;
    padding: 3px;
    border-radius:2px;
    flex: 0 0 100%;
    
}

.tendencias .item-tendencia{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid rgba(174, 61, 174, 0.626);
    border-radius: 7px;
    flex: 0 0 90%;
    margin-bottom: 2px;
    text-align: center;

}
.tendencias .item-tendencia .img-tendencia{
    margin: auto;
    width: 75%;
    border-radius: 7px;
   
}

.item-p-tendencia{
    margin-bottom: 5px;
}
.sacar-turno-home-articulo{
    display: flex;
    margin: auto;
    text-decoration: none;
    justify-content: center;
    width: 50%;
    background: black;
    border: 1px solid rgba(174, 61, 174, 0.626);
    color: white;
    padding: 8px;
    border-radius: 8px;
}
#art-oculto{
    display: none;
}
.caja-agendar-turno h2{
    width: 60%;
    font-size: 16px;
    padding: 3px;
    border-radius:2px;
    background-color: rgba(112, 112, 112, 0.795);
}
.caja-calendario img{
    width: 35%;
}

nav .tienda-catalogo{
    display: flex;
    margin: auto;
    width: 90%;
    text-decoration: none;
    justify-content: space-between;
}
.tienda-catalogo .nav-tienda-catalogo{
    text-align: center;
    margin-top:4px ;
    background-color: rgba(174, 61, 174, 0.626);
    
    
    font-size: 13px;
    border-radius: 2px;
    color: aliceblue;
    

}
/**AGENDA  SECCION 2**/


