*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
}

/*main*/
body{
    background: linear-gradient(rgba(0, 0, 0, 0.764), rgba(0, 0, 0, 0.579)), url('/images/background.jpg');
    background-size: 100%;
}
main .banner-home{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;  
    
}
.banner-home .img-home{
    width: 89%;
    height: 240px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px;
    border-radius:2px ;

}

/**TENDENCIAS  SECCION 1**/
.tendencias, .contenedor-tendencias-turnos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 89%;
   
}

.tendencias h2{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    font-size: 1.3rem;
    flex: 0 0 100%;
    color: white;
    
}

.tendencias .item-tendencia{
    border-radius: 4px;
    border: 3px solid rgba(14, 0, 144, 0.626);
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 0 0 80%;
    margin-bottom: 4px;
    color: wheat;
    text-align: center;
    
}
.item-tendencia h5{
    color: greenyellow;
}
.tendencias article:hover{
    
    border: 2px solid rgba(174, 61, 174, 0.626);
    border-radius: 5px;
}
.tendencias .item-tendencia .img-tendencia{
    margin: auto;
    width: 45%;
    border-radius: 7px;
   
}

.item-p-tendencia{
    margin-bottom: 8px;
}
.sacar-turno-home-articulo{
    display: flex;
    margin: auto;
    text-decoration: none;
    justify-content: center;
    width: 50%;
    background: black;
    border: 3px solid rgba(14, 0, 144, 0.626);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
}
#art-oculto{
    display: none;
}

.block-navegacion{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 5px;
    height: 30px;
}
section .tienda-catalogo{
    background-color: rgb(0, 0, 0);
    display: flex;
    margin: auto;
    border-radius: 6px;
    width: 85%;
    text-decoration: none;
    justify-content: space-between;
}
.tienda-catalogo .nav-tienda-catalogo{
    font-size: 11px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    color: aliceblue;
    

}

/**AGENDA y CATALOGO SECCION 2**/

 .contenedor-tendencias-turnos article{
    width: 100%;
    background: rgba(7, 7, 1, 0.442);
    padding: 3px;
    margin-bottom: 8px;
    border: 3px solid rgba(14, 0, 144, 0.626);
    margin-top: 2px;
    border-radius: 4px;
    
}
.contenedor-tendencias-turnos .caja-tendencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.contenedor-tendencias-turnos h2{
    margin-bottom: 4px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
.caja-tendencia img{
    width: 75%;
    padding: 5px;
    margin-bottom: 4px;
    
}
.caja-tendencia a{
    padding: 8px;
    margin-top: 4px;
    border: 3px solid rgba(14, 0, 144, 0.626);
    text-align: center;
    width: 50%;
    background: black;
    border-radius: 8px;
 
}


