.contenedor-login  .imagen-login{
    display: flex;
    justify-content: center;
    margin: auto;
}

.contenedor-login h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 4px;
    color: white;
    font-size: 20px;
    padding: 5px;
    

}
.contenedor-login form{
    width: 100%;
    text-align: center;
}
.contenedor-login{
    background: rgb(2 109 104 / 63%);
    min-width: 250px;
    max-width: 260px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    border: 2px solid rgb(4, 17, 21);
}

.contenedor-login label{
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    font-size: 12px;
    color: white;
    justify-content: center;
}

.contenedor-login input{
    display: flex;
    width: 55%;
    margin: auto;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    border: rgb(101, 5, 105) 1px solid;
    
}
div .check{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.contenedor-login button{
    
    display: flex;    
    width: 55%;
   
    margin:auto;
    justify-content: center;
    align-items: center;
    height: 25px;
    text-decoration: none;
    background-color: rgba(10, 8, 19, 0.915);
    border: none;
    padding: 2px;
    border-radius: 4px;
    font-size: 15px;
    color: azure;

}

.contenedor-login p{
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 28px;
    
}
.boton-p  .boton-registrarse{
    background-color:rgba(200, 198, 211, 0.815);
    border-radius: 3px;
    padding: 2px;
    color: rgb(0, 0, 0);
    text-decoration:double;
}
.boton-p{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .contenedor-login{
        display: flex;
        justify-content: center;
        align-items: center;
       
        max-width: 500px;
       min-width: 490px;
       height: 400px;
    
        padding: 10px;
      
    }
    .contenedor-login h2{
        border-right: 1px solid rgba(255, 255, 255, 0.532) ;
        font-size: 35px;
        
    }
    .contenedor-login input{
        
        width: 45%;
        font-size: 12px;
        padding: 4px;
    }
    .contenedor-login button{
        width: 45%;
        font-size: 14px;
    }
}