main{
    margin-bottom: 20px;
}
 .register h2{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 4px;
    color: white;
    font-size: 15px;
}

.contenedor-registro{
    display: flex;
    background: rgb(5, 99, 249);
    background: linear-gradient(0deg, rgba(219, 27, 226, 0.942) 3%, rgba(54, 2, 78, 0.937) 5%, rgba(115, 1, 144, 0.658) 18%);
    width: 85%;
   
    justify-content: center;
    border-radius: 6px;
    margin: auto;
    padding: 6px;
    flex-flow: column wrap;
    
}
form{
    width: 100%;
    height: 291px;
}
form span{
    color:rgb(165, 21, 144);
    max-width: 420px;
  position: relative;
}
form span #form-i {
    position: absolute;
  display: block;
  bottom: .5rem;
  right: 1rem;
  color: wheat;
  
  user-select: none;
  cursor: pointer;
}
span i
{
    color: wheat;
}
form #fila1{
    display: flex;
    width:310px;
    height: 15px;
    flex-flow: row wrap;
    margin-bottom: 9px;
}
form #fila2{
    display: flex;
    width:310px;
    height: 15px;
    margin-bottom: 9px;
    flex-flow: row wrap;
    
}
form #fila3{
    display: flex;
    width:310px;
    height: 15px;
    margin-bottom: 9px;
    flex-flow: row wrap;
    
}
form #fila4{
    display: flex;
    width:310px;
    height: 15px;
    margin-bottom: 9px;
    flex-flow: row wrap;
    
}
form #fila5{
    display: flex;
    width:310px;
    height: 15px;
    margin-bottom: 9px;
    flex-flow: row wrap;
    
}
form #fila6{
    display: flex;
    width:310px;
    height: 15px;
    margin-bottom:8px;
    flex-flow: row wrap;
    
}
form #fila7{
    display: flex;
    width:310px;
    height: 35px;
    margin-bottom: 9px;
    margin-right: 205px;
    flex-flow: row wrap;
    
}

.contenedor-registro label{
    display: none;
    /* margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    font-size: 12px;
    justify-content: center; */
}
.contenedor-registro input{
    display: flex;
   font-size: 10px;
    margin: auto;
    text-align: start;
    padding: 1px;
    width: 5.8rem;
    border: rgba(166, 3, 207, 0.942) 2px solid;
    
}
input[type="file" i]{
    font-size: 6px;
    color: white;
    
    
    
}

.contenedor-registro button{
    position: relative;
    margin-top: 25px;
    left: 100px;
    width: 110px;
    height: 30px;
    text-decoration: none;
    background-color: rgba(10, 8, 19, 0.915);
    border: none;
    padding: 2px;
    border-radius: 3px;
    font-size: 17px;
    color: azure;
    
}
form p{
    margin: 18px 20px 14px 79px;
    
    font-size: 12px;
    color: white;
    
}
form p a{
    
    background-color:rgba(233, 233, 236, 0.847);
    border-radius: 2px;
    padding: 2px;
    color: rgb(0, 8, 8);
    text-decoration:double;
}