main{
    margin-bottom: 20px;
}
 .register h2{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 4px;
    color: white;
    font-size: 15px;
}

.contenedor-registro{
    display: flex;
    background: rgb(0,118,194);
background: linear-gradient(142deg, rgba(0,118,194,0.9809173669467787) 4%, rgba(17,24,159,0.9809173669467787) 12%, rgba(1, 22, 14, 0.882) 29%);
    min-width: 275px;
    max-width: 300px;
    max-height: 400px;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    flex-flow: column wrap;
    
}
.contenedor-registro form{
    width: 100%;
    
   
}
.register-aside{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}

form #fila1, #fila2, #fila3, #fila4, #fila5, #fila6, #fila7{
    display: flex;
    justify-content: center;
    margin-top: 4px;
    width: 90%;
    height: 35px;
    
    /* width:310px;
    flex-flow: row wrap;
    margin-bottom: 9px; */
}

.contenedor-registro label{
    display: none;
    /* margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    font-size: 12px;
    justify-content: center; */
}
.contenedor-registro input{
    display: flex;
    font-size: 11px;
    margin: auto;
    text-align: center;
    padding: 1px;
    width: 105px;
    border: rgba(255, 255, 255, 0.89) 2px solid;
    
}
input[type="file" i]{
    font-size: 6px;
    color: white;
    
    
    
}

.contenedor-registro button{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 55%;
    text-decoration: none;
    background-color: rgba(0, 7, 135, 0.995);
    border: 1px double rgb(5, 0, 58);
    padding: 2px;
    border-radius: 4px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}
form .p-register{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    
}
form .p-register a{

    padding: 4px;
    color: rgb(8, 165, 165);
    text-decoration: double;
}

.msg-error{
    font-size: 7px;
    color: red;
    
    white-space: nowrap;
    
}

@media screen and (min-width: 700px) {
    aside .contenedor-registro{
        max-width: 550px;
        min-width: 520px;
    }
    
}