<%- include('../partials/head') %> 
<body>

<%- include('../partials/header') %> 
<main>
    <h1>catalogo</h1>
    <section>
        <figure class="catalogo-banner">
            <img class ="catalogo-img"src="/images/barber.jpg" alt="portada de barbero">
        </figure>
    </section>
    
    <section class="tendencias-catalogo">
        <h2>¡Tendencias en cortes!</h2>
    
            <article class="caja-precios">
                <div class="tabla">
                    <table>
                        <tbody>
                            <tr>
                              
                              <th>Estilo</th>
                              <th>Corte</th>
                            </tr>
                            <tr>
                              
                              <td>Corte</td>
                              <td>$500</td>
                            </tr>
                            <tr>
                              
                              <td>Corte + cejas</td>
                              <td>$600</td>
                            </tr>
                          </tbody>
                    </table>
                    
                    
                   
                    
                </div>
                
            </article>
            <a href="/servicios/agenda">Sacar turno</a>
    </section>
</main>
    
<%- include('../partials/footer') %> 
</body>
</html>