<footer>
    <section>
        <nav class="nav-logo">
            
                <p class="p-footer">Nosotros</p>
                <p class="p-footer">Contacto</p>
         
          
            <div class="redes">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            <img src="/images/logo.png" alt="Logo, fénix">
    
        </nav>
        
        <nav class="copy">
            <p class="copy-p">Todos los derechos reservados</p>
             <p class="copy-p">Fenix Barber 2022</p>
        </nav>
    </section>
</footer>