<footer>
    <section>
    <img src="/images/logo.png" alt="Logo, fénix">

    <nav class="redes">
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
    
    </nav>
</section>
</footer>