
    <header>
       <div class="navs">
        <nav class="inicio">
            <a href="/">Inicio</a>
            <a href="/usuarios/register">Registrarme</a>
            <a href="/usuarios/login">Iniciar sesión</a>
        </nav>
        
        <nav class="fin">
            <a href="/servicios/catalogo">Catálogo</a>
            <a href="">Tienda</a>
            <a href="/servicios/agenda">Sacar turno</a>
        </nav>
     </div> 
        <div class="contenedor-img">
            <img src="/images/logo.png" alt="Logo, fénix">
        </div>
    
        
    </header>
