
    <header>
        <div class="burger-menu">

            <div class="btn-menu">
              <label for="btn-menu">☰</label>
            </div>
  
              <input type="checkbox" id="btn-menu">
                <!--<div class="container-menu">-->
                  <div class="cont-menu">
                    <nav>
                      <label for="btn-menu">x</label>
                      <a href="/">Inicio</a>
                      <a href="/usuarios/register">Registrarme</a>
                      <a href="/usuarios/login">Iniciar sesión</a>
                      <a href="/servicios/catalogo">Catálogo</a>
                      <a href="">Tienda</a>
                      <a href="/servicios/agenda">Sacar turno</a>
                    </nav>
                </div> 
              </div> 
                <nav class="nav-menu-table-pc">
                  <section class="sec-table-pc" id="sec-tp">
                    <a id="a-sec-tp" href="/">Inicio</a>
                    <a id="a-sec-tp"  href="/usuarios/register">Registrarme</a>
                    <a id="a-sec-tp" href="/usuarios/login">Iniciar sesión</a>
                    <a id="a-sec-tp" href="/servicios/catalogo">Catálogo</a>
                    <a id="a-sec-tp" href="/servicios/agenda">¡Agendar turno!</a>
                  </section>

                  <figuere id="fig-img-tp">
                    <img src="/images/logo.png" alt="Logo, fénix">
                  </figure>
                </nav>
        
    </header>
