
    <header>
        <div class="burger-menu">

            <div class="btn-menu">
              <label for="btn-menu">☰</label>
            </div>
  
              <input type="checkbox" id="btn-menu">
                <!--<div class="container-menu">-->
                  <div class="cont-menu">
                    <nav>
                      <label for="btn-menu">x</label>
                      <a href="/">Inicio</a>
                      <a href="/usuarios/register">Registrarme</a>
                      <a href="/usuarios/login">Iniciar sesión</a>
                      <a href="/servicios/catalogo">Catálogo</a>
                      <a href="">Tienda</a>
                      <a href="/servicios/agenda">Sacar turno</a>
                    </nav>
                </div> 
       <!--<div class="navs">
        <nav class="inicio">
            <a href="/">Inicio</a>
            <a href="/usuarios/register">Registrarme</a>
            <a href="/usuarios/login">Iniciar sesión</a>
        </nav>
        
        <nav class="fin">
            <a href="/servicios/catalogo">Catálogo</a>
            <a href="">Tienda</a>
            <a href="/servicios/agenda">Sacar turno</a>
        </nav>
     </div> 
        -->
        <div class="contenedor-img">
            <img src="/images/logo.png" alt="Logo, fénix">
        </div>
        
    </header>
