<%- include('../partials/head') %> 
<body>
<%- include('../partials/header') %> 
<main>
    <section>
        <div class="banner-home">
            <img class="img-home" src="images/banner.jpg" alt="portada de barbero">
        </div>
    </section>

<section class="tendencias">
    <h2>¡Tendencias en cortes!</h2>

        <article>

            <div class="caja-tendencia">
                <img src="images/corte.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cum iusto quas reprehenderit voluptate veniam ipsam eum nam.</p>
                <a href="/servicios/agenda">Sacar turno</a>
            </div>

        </article>

        <article>

            <div class="caja-tendencia">
                <img src="images/corte.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cum iusto quas reprehenderit voluptate veniam ipsam eum nam.</p>
                <a href="/servicios/agenda">Sacar turno</a>
            </div>

        </article>

        <nav class="tienda-catalogo" >
            <a href="servicios/agendar">Ver productos en Tienda</a>
            <a href="servicios/catalogo">Ver todo el catálogo</a>
        </nav>
</section>

<section class="caja-calendario">
    <h2>¡Agendá tu turno!</h2>
    <div class="caja-agendar-turno">
                <img src="images/calendario.jpg" alt="">
                
        <article>
            <p class="p-agendar">Corte</p>
            <p class="p-agendar">Barba</p>
            <a class="a-agendar" href="servicios/catalogo">Ver catalogo</a>
            <a class="a-agendar" href="/servicios/agenda">Sacar turno</a>
        </article>
    </div>
</section>

<section class="tendencias">
    <h2>¡Sobre mí!</h2>
        <article>
            <div class="caja-tendencia">
                <img src="images/mi.jpg" alt="">
                <a href="/servicios/agenda">Sacar turno</a>
            </div>
            <div class="caja-tendencia">
                <img src="images/calendario.jpg" alt="">
                <a href="/servicios/agenda">Sacar turno</a>
            </div>
        </article>

</section>
<section>
    <div class="banner-home">
        <img class="img-home" src="images/banner.jpg" alt="portada de barbero">
    </div>
</section>
</main>
<%- include('../partials/footer') %> 
</body>
</html>