<%- include('../partials/head') %> 
<body>
<%- include('../partials/header') %> 
<main>
    <section class="banner">
        <figure class="banner-home">
            <img class="img-home" src="images/banner.jpg" alt="portada de barbero">
        </figure>
    </section>

            <h2 class="titulo-cortes">¡Tendencias en cortes!</h2>
       
  
<section class="tendencias">
        <article class="item-tendencia">
            <h4>Corte</h4>
                <img class="img-tendencia" src="images/corte.jpg" alt="">
                <h5>$444</h5>
                <p class="item-p-tendencia">Lorem ipsum, dolor sit amet consectetur.</p>
                <a class="sacar-turno-home-articulo" href="/servicios/agenda">Sacar turno</a>

        </article>
        <article class="item-tendencia">
            <h4>Corte</h4>
            <img class="img-tendencia" src="images/corte.jpg" alt="">
            <h5>$444</h5>
            <p class="item-p-tendencia">Lorem ipsum, dolor sit amet consectetur. Hkjalsdjlakjsdlkadl kajsdlkajslkdj aklsjk ajslk ajskdj. aksjdlkasjd aj klas jajaj laksjals</p>
            <a class="sacar-turno-home-articulo" href="/servicios/agenda">Sacar turno</a>
        </article>

        <article class="item-tendencia" id="art-oculto">
            <h4>Corte</h4>
            <img class="img-tendencia" src="images/corte.jpg" alt="">
            <h5>$444</h5>
            <p class="item-p-tendencia">Lorem ipsum, dolor sit amet consectetur.</p>
            <a class="sacar-turno-home-articulo" href="/servicios/agenda">Sacar turno</a>

        </article>
</section>
<!-- barra de navegación-->
    <section class="block-navegacion">
        <nav class="tienda-catalogo" >
            <a class="nav-tienda-catalogo" href="servicios/agendar">Ver productos en Tienda</a>
            <a class="nav-tienda-catalogo" href="servicios/catalogo">Ver todo el catálogo</a>
        </nav>
    </section>


<section class="contenedor-tendencias-turnos">
    <article>
        <div class="caja-tendencia">
            <h2>¡Agenda tu turno!</h2>
                <img class="img-tendencia" src="images/calendario.jpg" alt="calendario">
                <a href="/servicios/agenda">Agendar turno</a>
            </div>
        </article>

        <article>
            <div class="caja-tendencia">
                <h2>¡Precios y servicios!</h2>
                        <img class="img-tendencia" src="images/mi.jpg" alt="catalogo de servicios">
                        <a href="/servicios/catalogo">Catálogo</a>
                    </div>
                </article>

</section>

<section>
    <figure class="banner-home">
        <img class="img-home" src="images/banner.jpg" alt="portada de barbero">
    </figure>
</section>
</main>
<%- include('../partials/footer') %> 
</body>
</html>