<%- include('../partials/head') %> 
<body>
<%- include('../partials/header') %> 
<main>
    <section>
        <div class="banner-home">
            <img src="images/banner.jpg" alt="portada de barbero">
        </div>
    </section>

<section class="tendencias">
    <h2>¡Tendencias en cortes!</h2>

        <article>

            <div class="caja-tendencia">
                <img src="images/corte.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cum iusto quas reprehenderit voluptate veniam ipsam eum nam.</p>
                <a href="/servicios/agenda">Sacar turno</a>
            </div>

        </article>

        <article>

            <div class="caja-tendencia">
                <img src="images/corte.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cum iusto quas reprehenderit voluptate veniam ipsam eum nam.</p>
                <a href="/servicios/agenda">Sacar turno</a>
            </div>

        </article>

        <nav class="tienda-catalogo" >
            <a href="servicios/agendar">Ver productos en Tienda</a>
            <a href="servicios/catalogo">Ver todo el catálogo</a>
        </nav>
</section>

<section class="tendencias">
    <h2>¡Agendá tu turno!</h2>
        <article>
            <div class="caja-tendencia">
                <img src="images/calendario.jpg" alt="">
                <a href="/servicios/agenda">Sacar turno</a>
            </div>
        </article>

</section>

<section class="tendencias">
    <h2>¡Sobre mí!</h2>
        <article>
            <div class="caja-tendencia">
                <img src="images/mi.jpg" alt="">
                <a href="/servicios/agenda">Sacar turno</a>
            </div>
            <div class="caja-tendencia">
                <img src="images/calendario.jpg" alt="">
                <a href="/servicios/agenda">Sacar turno</a>
            </div>
        </article>

</section>
</main>
<footer>
    <section>
    <img src="/images/logo.png" alt="Logo, fénix">

    <nav class="redes">
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
    
    </nav>
</section>
</footer>
</body>
</html>