<%- include('../partials/head') %> 
<body>

<%- include('../partials/header') %> 

    

    <main>
        <h1>Login</h1>

        <section class="login">
            <aside>
                <div class="contenedor-login">
                    <div class="imagen-login">
                    <img src="/images/corte.jpg" alt="">
                </div>
                    <form action="" method="POST" enctype="multipart/form-data">

                        <label for="">Ingresá tu E-mail</label>
                        <input type="email" name="email" id="Email" placeholder="ejemplo@ejemplo.com">

                        <label for="">Ingresá tu contraseña</label>
                        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">

                        
                            <label for="">¿Recordar usuario?</label>
                            <input type="checkbox" name="recordarUsuario">
                            
                        
                            <div class="boton-p">

                                <button type="submit">Iniciar sesión</button>
                                <p class="p-register">¿No tenés cuenta? 
                                <a href="/usuarios/register">¡Registrate!</a>
                                </p>
                                
                               
                            </div>
                    </form>
                </div>
            </aside>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>